<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>
<ul class="list-group">
  <li class="list-group-item">Number of Products: <%= @product_amount %></li>
  <li class="list-group-item">Number of Categories: <%= @category_amount %></li>
</ul>
